.crosshair-icon {
  width: 24px; 
  height: 24px; 
  background-image: url("./resources/logo/logo.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}
